.img{
    width: 70px;
}
nav{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: gray;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    padding: 1em;
}
ul li{
    display: flex;
    flex-direction: column;
    gap: 1em;


}

a{
    text-decoration: none;
    color: black;
}
